@use '../../styles/mixins.scss' as *;
@use '../../styles/variables.scss' as *;

.award-card {
  width: 100%;
  aspect-ratio: 1 / 1;
  background-color: $color-black;
  border-radius: 5px;
  padding: 18px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  @include media-desktop {
    width: 240px;
    height: 240px;
    padding: 24px;
  }

  &__title {
    @include typo-h2;
  }
  
  &__number {
    @include typo-h1;
    color: $color-gold;
    text-align: right;
    margin-top: -33px;

    @include media-desktop {
      margin-top: -53px;
    }
  }
}