// colors
$color-red: #8F2F4F;
$color-blue: #3F3C7E;
$color-gold: #DDAB72;
$color-black: #242424;
$color-ivory: #FFF9E7;
$color-slopes: #B3B7BA;
$color-apre-ski: #6C6D74;

// beakpoints
$breakpoint-sm: 576px;

// typography
@mixin typo-hero {
  // base
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-style: italic;

  // mobile
  font-size: 4rem;

  // desktop
  @media (min-width: $breakpoint-sm) {
    font-size: 6rem;
  }
}

@mixin typo-h1 {
  // base
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-style: italic;

  // mobile
  font-size: 2rem;

  // desktop
  @media (min-width: $breakpoint-sm) {
    font-size: 2.5rem;
  }
}

@mixin typo-h2 {
  // base
  font-family: 'Libre Franklin', sans-serif;
  font-weight: bold;
  font-style: italic;

  // mobile
  font-size: 1.5rem;
  
  // desktop
  @media (min-width: $breakpoint-sm) {
    font-size: 2rem;
  }
}

@mixin typo-p {
  // base
  font-family: 'Libre Franklin', sans-serif;
  font-weight: normal;
  font-style: normal;

  // mobile
  font-size: 1rem;
  
  // desktop
  @media (min-width: $breakpoint-sm) {
    font-size: 1.25rem;
  }
}