// colors
$color-red: #8F2F4F;
$color-blue: #3F3C7E;
$color-gold: #DDAB72;
$color-black: #242424;
$color-ivory: #FFF9E7;
$color-slopes: #B3B7BA;
$color-apre-ski: #6C6D74;

// beakpoints
$breakpoint-sm: 576px;