@use 'sass:color';
@use '../../styles/variables.scss' as *;
@use '../../styles/mixins.scss' as *;

#Life {
  background: linear-gradient(to bottom, $color-blue, color.mix($color-ivory, $color-blue, 25%));
}

.life {
  &__timeline {
    padding-top: 28px;

    @include media-desktop {
      padding-top: 48px;
    }
  }

  &__entry {
    display: flex;
    gap: 28px;
  }

  &__node-col {
    display: flex;
    flex-direction: column;
    align-items: center;

    & > svg {
      width: 30px;
      height: 30px;
      flex-shrink: 0;
    }
  }


  &__connector {
    width: 10px;
    flex: 1;
    background-color: $color-black;
  }

  &__content {
    padding-bottom: 28px;

    @include media-desktop {
      padding-bottom: 48px;
    }
  }
}