@use '../../styles/mixins.scss' as *;
@use '../../styles/variables.scss' as *;

.footer {
  display: flex;
  justify-content: space-between;
  background-color: $color-black;
  align-items: center;
  padding: 24px;
  margin-inline: -28px;

  @include media-desktop {
    margin-inline: -72px;
    gap: 48px;
    justify-content: end;
    padding: 32px;
  }

  &__wikipedia {
    @include typo-p;
    color: $color-link-blue;
    cursor: pointer;
    text-decoration: underline;
  }
  
  &__github {
    @include typo-p;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;

    & > svg {
      width: 32px;
      height: 32px;

      @include media-desktop {
        width: 38px;
        height: 38px;
      }
    }
  }
}