@use '../../styles/mixins.scss' as *;
@use '../../styles/variables.scss' as *;

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: var(--sticky-top, 0);
  box-shadow: 0 -8px 24px rgba(0, 0, 0, 0.3);

  padding: 0 28px;

  @include media-desktop {
    padding: 0 72px;
  }

  &:not(#Title) {
    max-width: $breakpoint-lg;
    margin-inline: auto;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.4);
  }
}