@use '../../styles/mixins.scss' as *;

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: var(--sticky-top, 0);

  padding: 0 28px;

  @include media-desktop {
    padding: 0 72px;
  }
}