@use '../../styles/variables.scss' as *;
@use '../../styles/mixins.scss' as *;

#Awards {
  background: linear-gradient(to bottom, $color-red, mix($color-ivory, $color-red, 25%));
}

.awards {
  padding: 28px 0 0 0;
  display: flex;
  flex-direction: column;
  flex: 1;

  @include media-desktop {
    padding: 72px 0 0 0;
  }

  &__cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 18px;

    @include media-desktop {
      display: flex;
      flex-direction: row;
      gap: 28px;
      overflow-x: scroll;
      margin-inline: -72px;
      padding-inline: 72px;
    }
  }

  &__text {
    text-align: center;
    margin-top: auto;
    padding: 28px 0;

    @include media-desktop {
      text-align: left;
      padding: 48px 0;
    }
  }
}