@use 'sass:color';
@use '../../styles/variables.scss' as *;
@use '../../styles/mixins.scss' as *;

#Awards {
  background: linear-gradient(to bottom, $color-red, color.mix($color-ivory, $color-red, 25%));
}

.awards {
  padding: 28px 0;
  display: flex;
  flex-direction: column;

  @include media-desktop {
    padding: 72px 0;
  }

  &__cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 18px;

    @include media-desktop {
      grid-template-columns: 1fr 1fr;
      gap: 20px;
    }

    .award-card--wide {
      @include media-desktop {
        grid-column: 1 / -1;
      }
    }
  }
}
