@use '../../styles/variables.scss' as *;

.scroll-overflow {
  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 60px;
    z-index: 1;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s;
    // apply mask to make gradient fade out on the top, botom and side
    mask-image: linear-gradient(to bottom, transparent, black 20%, black 80%, transparent);
    -webkit-mask-image: linear-gradient(to bottom, transparent, black 20%, black 80%, transparent);
  }

  &::before {
    left: 0;
    background: linear-gradient(to right, var(--scroll-overflow-color, $color-black), transparent);
  }

  &::after {
    right: 0;
    background: linear-gradient(to left, var(--scroll-overflow-color, $color-black), transparent);
  }

  &--left::before {
    opacity: 1;
  }

  &--right::after {
    opacity: 1;
  }
}
