@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
  position: relative;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
}