@use './styles/variables.scss' as *;
@use './styles/mixins.scss' as *;
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
  position: relative;
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
}

h1 {
  @include typo-h1;
  color: $color-ivory;
}

h2 {
  @include typo-h2;
  color: $color-ivory;
}

p {
  @include typo-p;
  color: $color-ivory;
}